.car_cg{
    font-weight: 600;
    color: #0077D9;
}

.sub_e{
    font-weight: 600;
    color: #0077D9;
}

/* 오늘의 리디 탭 */
.todayRidiTab{
    padding-top: 31px;
    padding-bottom: 36px;
}

.dk_int_text span{
    color: #ffffff;
    font-size: 13px;
}

/* 오늘의 리디 탭 */

/* 실시간 랭킹 탭 */
.rb_li_wrapper li{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 274.700px;
    height: 87.800;
}
/* 실시간 랭킹 탭 */

/* bg_none 스와이퍼 */
.newEBook_tab{
    padding-top: 50px;
    padding-bottom: 56px;
   
}
.ne_text{
    padding: 0 auto;
    display: flex;
    flex-direction: column;
}
.ne_bookName{
    font-weight: 600;
    font-size: 14px;
}

.ne_authorName{
    font-weight: 100;
    color: #636C73;
}
/* 오늘의 리디 */

.p1000_tab{
    padding-top: 50px;
    padding-bottom: 28px;
}

.re_ws{
    padding-top: 25px;
    padding-bottom: 28px; 
}