
.normal_cg{
    font-weight: 600;
    color: #0077D9;
}

/* 이벤트 슬라이드 */
.event_slide_tab{
    padding-top: 30px;
}

.ev_sw_wrapper{
    max-width: 1290px;
    position: relative;
    overflow: hidden;
    margin: 0 auto; 
}

.event_wrapper{
    width: 100%; 
    display: flex;
    
}
.ev_pn_wrapper{
    position: absolute;
    bottom: 15px;
    left: 63%;
    width: 45px;
    height: 20px;
    background-color: black;
    text-align: center;
    opacity: 0.7;
    border-radius: 30px;
    z-index: 1;
}

.ev_pn{
    position: absolute;
    top:0.9px;
    color: white;
    font-size: 12px;
}

.ev_pn::after{
    font-weight: 800;
}

.sbp::after, .sbn::after{
    font-size: 15px;
    color: #37527C;
}
.sbp{
    padding-right: 11px;
}

.sbn{
    padding-left: 9px;
}
.ev_b_wrapper{
    opacity: 0.5;
}
.next_btn{
    right: 25%;
}
.prev_btn{
    left: 25%;
}
.event_slide{
    width: 430px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

/* 이벤트 카드뉴스 이미지 */
.event1{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211229101547_1640740547185.jpg")
}
.event2{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211226145408_1640498048095.jpg")
}
.event3{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211124173939_1637743179827.jpg")
}
.event4{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211215020525_1639501525772.jpg")
}
.event5{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211201113233_1638325953584.jpg")
}
.event6{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211217093606_1639701366901.jpg")
}
.event7{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211227101820_1640567900464.jpg")
}
.event8{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211224141014_1640322614798.jpg")
}
.event9{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211216172659_1639643219461.jpg")
}
.event10{
    background-image: url("https://active.ridibooks.com/ridibooks_top_banner/20211214105436_1639446876116.jpg")
}

/* 이벤트 카드뉴스 이미지 */
/* 이벤트 슬라이드 */


/* 새로나온책 탭 */
.newBook_tab{
    padding-top: 31px;
    padding-bottom: 36px;
}   

.tr_text h3, .tr_text p{
    color: #ffffff;;
}
/* 책제목 저자 */
/* 새로나온책 탭 */


/* 오늘의 리디 */
.todayRidi_tab{
    padding-top: 50px;
    padding-bottom: 56px;
}
/* 오늘의 리디 */

/* 금주의 신간 */
.weeklyNew_tab{
    padding-top: 50px;
    padding-bottom: 56px;
}

.wn_text{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.weight_lite{
    font-weight: 100;
}
/* 금주의 신간 */
/* 인스타 추천도서 */
.instagram_tab{
    padding-top: 50px;
    padding-bottom: 56px;
}
.i_text{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.i_star_box{
    justify-content: center
}
/* 인스타 추천도서 */
/* 컨텐츠 */




