
.rom_cg{
    font-weight: 600;
    color: #0077D9;
}

.sub_e{
    font-weight: 600;
    color: #0077D9;
}
/* 오늘의 리디 탭 */
.todayRidiTab{
    padding-top: 31px;
    padding-bottom: 36px;
}

.dk_int_text span{
    color: #ffffff;
    font-size: 13px;
}

/* 오늘의 리디 탭 */

/* 실시간 랭킹 탭 */
.rb_li_wrapper li{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 274.700px;
    height: 87.800;
}
/* 실시간 랭킹 탭 */
.kwad_tab{
    margin-top: 30px;
}
.kwad_all_wrapper{
    text-align: center;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto; 
}
.k_hd_t{
    text-align: left;
    margin-bottom: 25px;
}

.k_hd_t a{
    font-size: 19px;
}
.tag_box{
    display: flex;
    margin-bottom: 6px;
}
.tag_list{
    height: 31px;
    flex: none;
    margin-left: 5px;
}

.tag_list a{
    border: 1px solid #B8BFC4;
    height: 30px;
    border-radius: 20px;
    display: block;
    font-size: 14px;
    line-height: 29px;
    font-weight: bold;
    color: #525A61;
    padding: 0 10px;
}

.ad_mini_tab{
    margin-top: 50px;
    text-align: center;
}

.ad_mini_wrapper{
    display: flex;
}

.ad_mini_wrapper li{
    margin: 0px 5px;
    padding: 4px; 
    
}

/* bg_none 스와이퍼 */
.newEBook_tab{
    padding-top: 50px;
    padding-bottom: 56px;
   
}
.ne_text{
    padding: 0 auto;
    display: flex;
    flex-direction: column;
}
.ne_bookName{
    font-weight: 600;
    font-size: 14px;
}

.ne_authorName{
    font-weight: 100;
    color: #636C73;
}
/* 오늘의 리디 */

.p1000_tab{
    padding-top: 50px;
    padding-bottom: 28px;
}

.re_ws{
    padding-top: 25px;
    padding-bottom: 28px; 
}